{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
        <a href="{% url 'view_students' %}"></a>
        <div class="p-4 border rounded bg-light text-center h-100">
            <h3 class="mb-3">मूल्यांकन चाचणी</h3>
            <!-- <p>विद्यार्थी पोर्टलमध्ये आपले स्वागत आहे.</p> -->
        </div>
    </a>
    </div>
    <div class="col">
        <a href="{% url 'view_students' %}"></a>
        <div class="p-4 border rounded bg-light text-center h-100">
            <h3 class="mb-3">मूल्यांकन चाचणी डाउनलोड करा</h3>
            <!-- <p>विद्यार्थी डेटा व्यवस्थापित करा.</p> -->
        </div>
         </a>
    </div>
    <div class="col">
        <a href="{% url 'view_students' %}">
        <div class="p-4 border rounded bg-light text-center h-100">
            <h3 class="mb-3"> तपशील पहा</h3>
            <!-- <p>चाचण्या द्या आणि निकाल पहा.</p> -->
        </div>
         </a>
    </div>
    <div class="col">
        <a href="{% url 'upload_students' %}">
        <div class="p-4 border rounded bg-light text-center h-100">
            <h3 class="mb-3">सर्व्हरवर डेटा अपलोड करा</h3>
            <!-- <p>कृपया अधिक माहितीसाठी आमच्याशी संपर्क साधा.</p> -->
        </div>
        </a>
    </div>
</div>
{% endblock %}
