{% extends 'base.html' %}

{% block content %}
<h2>All Students</h2>

<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th>Sl No</th>
                <th>Beneficiary No</th>
                <th>Name</th>
                <th>Standard</th>
                <th>Gender</th>
                <th>Contact No</th>
                <th>School Name</th>
                <th>District</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td>{{ student.sl_no }}</td>
                <td>{{ student.benf_no }}</td>
                <td>{{ student.name }}</td>
                <td>{{ student.standard }}</td>
                <td>{{ student.gender }}</td>
                <td>{{ student.contact_no }}</td>
                <td>{{ student.school_name }}</td>
                <td>{{ student.district }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
